<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.mo.middlePlatform.mapper.ProductCategoryMapper">

    <insert id="addProductCategory" parameterType="MPProductCategory">
        insert into mp_product_category(parent_id,name,level,description,create_time) values(#{parentId},#{name},#{level},#{description},#{createTime});
    </insert>

    <update id="updateProductCategory" parameterType="MPProductCategory">
        update mp_product_category set parent_id=#{parentId}, name =#{name},level =#{level},description=#{description},update_time=#{updateTime} where id=#{id};
    </update>

    <select id="queryById" parameterType="java.lang.Long" resultType="MPProductCategory">
        select  *  from mp_product_category where id=#{id};
    </select>

</mapper>