<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
    <!--设置驼峰命名映射-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <package name="com.mo.middlePlatform.entity"/>
    </typeAliases>

    <!--每一个Mapper.xml都需要在mybatis核心配置文件中注册 -->
    <mappers>
        <package name="com.mo.middlePlatform.mapper"/>
    </mappers>

</configuration>